/* RMIT University Vietnam
Course: COSC2769 - Full Stack Development
Semester: 2025B
Assessment: Assignment 02
Author: Tin (Nguyen Trung Tin)
ID: s3988418 */

.notfound-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 20px;
}

.notfound-content {
  max-width: 480px;
}

.notfound-image {
  max-width: 360px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}
